@model IEnumerable<n01642795Cumulative1.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<!--A view which uses server rendering to display teachers from the MySQL Database-->

<nav>
    <a href="/Teacher/List">Teachers</a>
    <a href="/Course/List">Classes</a>
    <a href="/Student/List">Students</a>
</nav>

<h2>Teachers</h2>

<!--search bar-->
<form action="/Teacher/List" method="GET">
    <input type="text" name="SearchKey"/>
    <input type="submit" value="Search"/>
</form>

@foreach (var teacher in Model)
{
    <div>
        <!--dynamic url to route to specific teacher page-->
        <a href="/Teacher/Show/@teacher.TeacherId">
            <!--Teacher's first and last name as hyperlink-->
            @teacher.EmployeeNumber: @teacher.TeacherFname @teacher.TeacherLname
        </a>
    </div>
}
